body {
  background: #212121;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mail {
  text-decoration: none;
  color: #04c7e9;
}
